.grid{
  padding: 24px;
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 18px;
}

@media (max-width: 1200px){
  .grid{ grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 900px){
  .grid{ grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 520px){
  .grid{ grid-template-columns: repeat(2, 1fr); }
}